<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.2.xsd    
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-3.2.xsd    
            http://www.springframework.org/schema/mvc 
            http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd    
            http://www.springframework.org/schema/util 
            http://www.springframework.org/schema/util/spring-util-3.2.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<!--创建jdbc数据源 -->
	<bean id="writedataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
		<property name="alias" value="writedataSource" />
		<property name="driver" value="com.mysql.jdbc.Driver" />
		<property name="driverUrl" value="${hotelcashout.write.jdbc.url}" />
		<property name="user" value="${hotelcashout.write.jdbc.username}" />
		<property name="password" value="${hotelcashout.write.jdbc.password}" />
		<property name="prototypeCount" value="2" />
		<property name="maximumConnectionCount" value="50" />
		<property name="minimumConnectionCount" value="2" />
		<property name="houseKeepingTestSql" value="select 1" />
	</bean>

	<!-- 创建SqlSessionFactory，同时指定数据源 -->
	<bean id="writesqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="writedataSource" />
		<!-- mybatis 数据访问配置文件 -->
		<property name="mapperLocations"
			value="classpath:conf/mybatis/cashout/writer/cashout/*Mapper.xml" />
	</bean>

	<!-- Mapper接口所在包名，Spring会自动查找其下的Mapper -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage"
			value="com.elong.hotel.customerservice.cashout.dao.writer.cashout" />
		<property name="sqlSessionFactoryBeanName" value="writesqlSessionFactory" />
	</bean>

	<!--创建jdbc数据源 -->
	<bean id="readdataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
		<property name="alias" value="readdataSource" />
		<property name="driver" value="com.mysql.jdbc.Driver" />
		<property name="driverUrl" value="${hotelcashout.read.jdbc.url}" />
		<property name="user" value="${hotelcashout.read.jdbc.username}" />
		<property name="password" value="${hotelcashout.read.jdbc.password}" />
		<property name="prototypeCount" value="2" />
		<property name="maximumConnectionCount" value="50" />
		<property name="minimumConnectionCount" value="2" />
		<property name="houseKeepingTestSql" value="select 1" />
	</bean>


	<!-- 创建SqlSessionFactory，同时指定数据源 -->
	<bean id="readsqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="readdataSource" />
		<!-- mybatis 数据访问配置文件 -->
		<property name="mapperLocations"
			value="classpath:conf/mybatis/cashout/reader/cashout/*Mapper.xml" />
	</bean>


	<!-- Mapper接口所在包名，Spring会自动查找其下的Mapper -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage"
			value="com.elong.hotel.customerservice.cashout.dao.reader.cashout" />
		<property name="sqlSessionFactoryBeanName" value="readsqlSessionFactory" />
	</bean>

</beans>